<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulari d'Usuari</title>
</head>
<body>
<h1>Formulari d'Usuari</h1>
<form th:action="@{/submit}" th:object="${user}" method="post">
    <label for="name">Nom:</label>
    <input type="text" id="name" th:field="*{name}">
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}">
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

    <button type="submit">Enviar</button>
</form>
</body>
</html>
